<header>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a routerLink="patientprofile">Profile</a></li>
      <li class="nav-item"><a routerLink="patientdoctors">Doctors</a></li>
      <li class="nav-item"><a routerLink="patientappointments">Appointments</a></li>
      <!-- <li><button class="logout-button" (click)="logout()">Logout</button></li> -->
    </ul>
    <div class="logout-container">
      <button class="logout-button" (click)="logout()">Logout</button>
    </div>
  </nav>
</header>

