body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh; */
}

.container {
    max-width: 85%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-paragraph {
    font-size: 16px;
    color: #333; /* Text color */
    background-color: #f7f7f7; /* Background color */
    padding: 10px;
    border: 1px solid #ddd; /* Border */
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow */
    text-align: justify; /* Align text to justify (stretch) */
    font-stretch: expanded; /* Stretch the characters */
  }

h2 {
    font-size: 34px; /* Set the font size for the heading */
    color: #333; /* Set the text color for the heading */
    text-align: center;
    text-shadow: #333;
  }