.img {
    width: 110px; 
    height: 110px;
}

/* .table-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    margin: 10px;
}

.column{
    width:110px;
    text-align: center;
}

.search-container{
    text-align: center;
} */